/* Adapted from https://codepen.io/Hyperplexed/pen/oNJrgdy */

#prize {
  width: 100vw;
  gap: 0.5rem;
  background-color: rgb(var(--darker-rgb));
  border: 1.5rem solid rgb(255 255 255 / 2.5%);
  padding: 10rem 4rem;
  box-shadow: 0rem 0rem 10rem 4rem rgb(0 0 0 / 75%);
  backdrop-filter: blur(1rem);
  position: absolute;
  top: -15vh; /* Adjusted to start from the top of the screen */
  left: 50%;
  transform: translateX(-50%);
}


  
  #prize-label,
  #prize-text {
    color: rgb(var(--theme-rgb));
    text-align: center;
  }
  
  #prize-text {  
    display: flex;
    gap: 1rem;
    height: 10rem;
    line-height: 10rem;
    font-size: 11rem;
  }
  
  #prize-text > .digit {  
    width: 8rem;
    position: relative;
    overflow: hidden;
    border-bottom: 0.25rem solid rgb(var(--theme-rgb));
  }
  
  #prize-text > .digit > .digit-track {  
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute; 
    top: 2rem; /* Adjust the top position as needed */
    left: 50%;
    translate: 0% 0%;
    transition: translate 3000ms cubic-bezier(.1,.67,0,1);
    gap: 1rem;
    height: 10rem;
    line-height: 10rem;
    font-size: 11rem;
  }

  
  .prize-filter {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0%;
    top: 0%;
    pointer-events: none;
  }
  
  @keyframes pan-lines {
    from {
      background-position: 0% 0%;
    }
    
    to {
      background-position: 0% -100%;
    }
  }
  
  #prize-lines {
    background: linear-gradient(
      rgb(var(--darker-rgb) / 15%) 0%,
      rgb(var(--darker-rgb) / 75%) 28%,
      rgb(var(--darker-rgb) / 15%) 56%,
      rgb(var(--darker-rgb) / 5%) 56%,
      rgb(var(--darker-rgb) / 5%) 100%
    );
    background-size: 100% 7px;
    z-index: 2;
    animation: pan-lines 360s infinite linear;
  }
  
  #prize-shadow {
    background: radial-gradient(
      rgb(var(--theme-rgb) / 1%) 20%, 
      rgb(var(--darker-rgb) / 80%) 70%
    );
    z-index: 3;
  }

  @media screen and (max-width: 500px) {
    #prize {
      top: 100px;
      padding: 3.5rem; /* Adjusted padding for better mobile fit */
      width: 90vw;
    }
  
    #prize-text {
      font-size: 2rem; /* Adjusted font-size for better mobile fit */
    }
  
    #prize-text > .digit {
      width: 6rem; /* Adjusted width for better mobile fit */
    }
  
    #prize-text > .digit > .digit-track {
      gap: 0.5rem; /* Adjusted gap for better mobile fit */
      font-size: 1.5rem; /* Adjusted font-size for better mobile fit */
    }
  
    #prize-lines {
      animation: pan-lines 180s infinite linear;
    }
  }