.card {
    max-width: 100vw;
    background-color: #000;
    border: 2px solid red;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    margin-bottom: 20px; /* Adjust margin-bottom to control space between cards */
    cursor: pointer;
}

.card:hover {
    box-shadow: 0 0 10px 5px red
}

.card-image {
    width: 350px;
    height: 200px;
    object-fit: fill !important;
    border: red;
}

.card-content {
    flex-grow: 1;
    padding: 20px;
}

.card-title {
    margin-top: 0;
    color: #fff;
}

.card-description {
    color: #ccc;
}


.card-button {
    outline: 0;
    grid-gap: 8px;
    align-items: center;
    background-color: #fff; /* Set button background color to white */
    color: #000; /* Set text color to black */
    border: 1px solid #000;
    border-radius: 4px;
    cursor: pointer;
    display: inline-flex;
    flex-shrink: 0;
    font-size: 16px;
    gap: 8px;
    justify-content: center;
    line-height: 1.5;
    overflow: hidden;
    padding: 12px 16px;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: all 0.14s ease-out;
    white-space: nowrap;
  }
  
  .card-button:hover {
    box-shadow: 4px 4px 0 red;
    transform: translate(-4px, -4px);
  }
  
  .card-button:focus-visible {
    outline-offset: 1px;
  }

/* card.css */

/* ... Existing styles ... */

.text-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  z-index: 1000;
}

.text-screen-content {
  max-width: 70vw;
  padding: 20px;
  background-color: #333;
  border: 2px solid #fff;
  border-radius: 8px;
  text-align: center;
  max-height: 80vh;
  /* max-width: 70vh; */
  overflow-y: auto;
}

.text-screen-title {
  font-size: 60px;
  margin-bottom: 16px;
}

.text-screen-button {
  width: 50px; /* Adjust the size as needed */
  height: 50px;
  margin: 0 10px;
}

.tech-used {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.tech-used img {
  max-width: 50px; /* Adjust the size as needed */
  margin: 0 5px;
}

.tech-used-text {
  font-size: 30px;
  color: #ccc;
  margin-bottom: 16px;
}

.long-description {
  font-size: 20px;
  color: #ccc;
}

@media screen and (max-width: 600px) {
  .card {
    margin-bottom: 10px;
}

.card-content {
    padding: 10px;
}

.card-title {
    font-size: 18px;
}

.card-description {
    font-size: 14px;
}

.card-button {
    font-size: 14px;
    padding: 10px;
}

  .card-image {
    max-height: 100vh;
    max-width: 300px;
  }

  .text-screen-title {
      font-size: 20px; /* Adjust as needed */
  }

  .tech-used img {
      max-width: 20px; /* Adjust as needed */
  }

  .tech-used-text {
      font-size: 14px; /* Adjust as needed */
  }

  .long-description {
      font-size: 12px; /* Adjust as needed */
  }
}

  