.physicalNavbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; 
    width: 100dvw;
    height: 8.5rem;
}

.Navbar {
    z-index: 100;
    position: fixed;
    overflow: hidden;
    width: 100dvw;
    margin-bottom: 1.5rem;
    padding: 2rem 0.5rem;
    background-color: black;
}

.navLinks {
    display: inline-block;
    text-align: center;
}

.navLinks a{
    color: white;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    padding: 0.5rem 1.5rem;
    font-size: 1.25rem;
    border-radius: 0.5rem;
    transition: all 0.3s linear;
    border-width: 0;
    margin-right: 0.3rem;
    margin-left: 0.3rem;
}

.navLinks a:hover {
    padding: 0.5rem 2.5rem;
    min-width: 12rem;
    font-size: 2rem;
    text-decoration: underline;
}

.navLinks .home-link:hover {
    color: red
}

.navLinks .project-link:hover {
    color: rgb(93, 255, 93)
}

.navLinks .contact-link:hover {
    color: yellow
}






@media only screen and (max-width: 600px) {
    .physicalNavbar {
        height: auto;
    }
    .Navbar {
        position: relative;
        padding: 0;
    }
    .navLinks {
        display: flex;
        flex-direction: column;
        transform: translateX(-6.5dvw);
        text-align: center;
    }
    .navLinks a {
        width: 100%;
        border-radius: 0;
        box-shadow: black 0px 0px 0px 1px, white 0px 0px 0px 1px inset;
    }
}

@media only screen and (max-height: 600px) {
    .physicalNavbar {
        height: auto;
    }
    .Navbar {
        position: relative;
    }
}