:root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  --dark-rgb: 23 28 28;
  --darker-rgb: 8 13 7;
  
  --green: 9 252 8;
  --blue: 59 130 246;
  --pink: 231 60 126;
  --red: 255 0 0;
  
  --background-rgb: 12 12 12;
  --theme-rgb: var(--red);
}

.container {
  min-height: calc(100vh - 10px);
}

.home-content {
  padding: 20px;
  margin-bottom: 20px; /* Add margin to separate home content from projects content */
}
